<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address.street %>
</p>

<div>
  <table>
    <th>Car</th>
    <th>Details</th>
    <% for car in @owner.cars %>
        <tr>
          <td><%= car.vin_number %></td>
          <td><%= car.details %></td>
        </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
